@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}


header {
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.header-content-left {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    padding: 20px;
}

nav {
    display: flex;
    gap: 40px;
    font-size: 16px;
}

.header-content-right {
    display: flex;
    align-items: center;
    padding: 25px;
    gap: 24px;
}

.logo-link {
    display: stretch;
    align-items:
}

.logo-img {
    height: 88px; 
    display: flex;
    margin-right: 10px;
}

.btn-lang {
    font-family: 'DM Sans', 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    background-color: transparent;
    border: none;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

.btn-lang:hover {
    cursor: pointer;
}

.btn-account {
    background-color: transparent;
    border: 1px solid #000000;
    padding: 11px 15px;
    border-radius: 10px;
    height: 48px;
    display: flex;
    align-items: center;
    font-family: 'DM Sans', 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    transition: background-color 0.2s ease;
}

.btn-account:hover {
    border: 1px solid #b6b6b638;
    color: #00000075;
    cursor: pointer;
}


a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.section-servicies {
    height: 584px;
    background-color: #1f1346;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 88px;
}

.section-servicies-header {
    font-family: 'DM Sans', 'Roboto', sans-serif;
    color: #ffffff;
    height: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0%;
    margin-bottom: 48px;
    padding: 0px 40 px;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
    letter-spacing: 0.024em
}

h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 16px;
}

p {
    font-size: 16px;
    color: #ffffff;
    line-height: 24px;
    margin-bottom: 24px;
}

span {
    font-size: 16px;
}

.div-cards {
    height: 280px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    margin: 0px 27.5px;
    padding: 32px;
}

.card {
    width: 360px;
    height: 280px;
    background-color: #2f1c6a;
    border-radius: 16px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section__services__icon-container{
    display: flex;
}


.card-icon {
    width: 40px;
    height: 40px;
    background-color: #673de6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 21px;
    margin-bottom: 21px;
    flex: 0 0 auto;
}

